.header{
    background-color: rgba(192, 133, 61, 0.952);
    width: 100%;
    height: 25px;
}
.nav{
    display: flex;
    justify-content: center;
    background-color: rgb(80, 80, 80);
    width: 100%;
} 
.nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    padding: 10px 10px; 
    margin: 4px;
}
.nav a:hover{
    color: palevioletred;
}
 .search{
    justify-content: center;
    /* margin-top: 30px; */
    /* margin-bottom: 45px; */
    border: none;
     padding: 0px;
    position: absolute;
    padding-left: 2px;
    width: 37px;
    height: 26px;
    font-size: 20px;
    background: transparent;
    border: 0;
    font-weight: normal;
    top: 20px; 
 }
 .main{
    position: relative;
    height:100px;
 }
 .chem{
    position: absolute;
    left: 17px;
    top: 31px;
 }
 .wlcm{
    position: absolute;
    font-weight: bold;
    left: 210px;
    top: 28px;
    font-size: 33PX;
    color:white
 }
 .btn{
   position:relative;
   margin-left: 65px;
   margin-bottom: 70px;
   padding: 7px;
 }
 .whtsapp{
    position: fixed;
  bottom: 0;
  right: 0;
 }
 .prod h1{
   text-align: center;
   color: #888;
   font-size: 36px;
   font-weight: 600;
   font-family: jost,sans-serif;
   padding-top: 8%;
}
.prod{
   text-align: center;
}
.prod a{
   background-color: #f0f0f000 !important;
   color: #888888;
   text-shadow: none;
   border: 1px solid #888888;
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
   padding: 15px 55px;
   display: inline-block;
   line-height: 1;
   text-align: center;
   transition: all .3s;
   text-decoration: none;
}
#bmt{
   padding-top: 6%;
   padding-bottom: 4%;
}
.prod a:hover{
   background-color: #999393 !important;
}
.g1{
   flex: 50%;
   background-color:rgb(167, 156, 156);
   padding: 10px;
   height: auto;
}
.g2{
   flex: 50%;
   background-color: white;
   padding: 10px;
   height: auto;
}
.g3{
   flex: 50%;
   background-color:white;
   padding: 10px;
   height: auto;
}
.grid{
   display: flex;
   background-color: white;
}
.grid2{
    display: flex; 
   background-color: white;
}
.br{
   padding-top: 6%;
   padding-bottom: 4%;
}
.br2{
   text-align: center;
}
.br a{
   color: #888888;
   text-shadow: none;
   border: 1px solid #888888;
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase;
   padding: 15px 55px;
   display: inline-block;
   line-height: 1;
   text-align: center;
   text-decoration: none;
}
.br a:hover{
   background-color: #f0f0f000;
}
footer{
   background-color: rgb(6, 6, 6);
   display: flex;
}
.medias{
   list-style: none;
   display: flex;
}
.medias a{
   padding: 15px 15px;
}
.col-lg-2{
   color: white;
}
.footeritms{
   color: rgba(255, 255, 255, 0.59);
   list-style: none;
   padding-left: 0px;
   padding-top: 8%;
}
.abt{
   margin-top: 22px;
}
h6{
   color: white;
}
.dtls{
   list-style: none;
   color: rgba(255, 255, 255, 0.518);
   padding-left: 0px;
   padding-top: 8%;
   padding-bottom: 8%;
   margin-top: 22px;
}
@media screen and (max-width:567px) {
   .products{
   display: block;
   }
}
 